# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip

# env
.env*
!.env.example

# etc
.DS_Store
.idea
**/.turbo

# compiled
chrome-extension/public/manifest.json
**/tailwind-output.css


vite.config.**

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# next
.next
.vercel

# Turborepo
.turbo

# windsurf
.windsurfrules

# Task files
tasks.json
tasks/ 