# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip

# env
.env*
!.env.example

# python
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info

# etc
.DS_Store
.idea
**/.turbo

# compiled
chrome-extension/public/manifest.json
**/tailwind-output.css


vite.config.mts.timestamp**

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# next
.next
.vercel

# Turborepo
.turbo

# windsurf
.windsurfrules

# Task files
tasks.json
tasks/
prds/

stats.html
playwright-report
test-results

.serena/

*.tsbuildinfo