@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown {
    h1 {
      @apply text-[1.5rem] font-bold mb-4 text-gray-900;
    }

    h2 {
      @apply text-[1.2rem] font-semibold mb-3 text-gray-800;
    }

    h3 {
      @apply text-[1rem] font-medium mb-2 text-gray-700;
    }

    p {
      @apply text-base mb-4 text-gray-600;
    }

    a {
      @apply text-blue-600 hover:text-blue-800 underline;
    }

    ul,
    ol {
      @apply mb-4 pl-5;
    }
    ul {
      list-style: disc outside none;
    }

    li {
      @apply mb-2;
      display: list-item;
      text-align: -webkit-match-parent;
    }

    code {
      @apply px-1 py-0.5 rounded bg-gray-100 text-sm font-mono text-gray-800;
    }

    pre {
      @apply p-4 mb-4 rounded bg-gray-100 overflow-x-auto;
    }

    pre code {
      @apply p-0 bg-transparent;
    }

    blockquote {
      @apply pl-4 border-l-4 border-gray-300 italic text-gray-600;
    }
  }
}
