name: CICD Extension

on:
  push:
    paths:
      - "apps/chrome-extension/**"
      - "pages/**"
      - "packages/shared/**"
      - "packages/ui/**"
      - "packages/env/**"
      - "packages/hmr/**"
      - "packages/vite-config/**"
      - "packages/tailwind-config/**"
      - "packages/tsconfig/**"
      - "packages/zipper/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/cicd-extension.yml"
      - ".github/workflows/ci.yml"
  pull_request:
    paths:
      - "apps/chrome-extension/**"
      - "pages/**"
      - "packages/shared/**"
      - "packages/ui/**"
      - "packages/env/**"
      - "packages/hmr/**"
      - "packages/vite-config/**"
      - "packages/tailwind-config/**"
      - "packages/tsconfig/**"
      - "packages/zipper/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/cicd-extension.yml"
      - ".github/workflows/ci.yml"

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  build-extension:
    needs: ci
    runs-on: ubuntu-latest
    env:
      WEB_URL: ${{ github.ref == 'refs/heads/develop' && secrets.STAGING_WEB_URL || secrets.PROD_WEB_URL }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Setting environment variables
        run: |
          echo "${{ secrets.SHARED_ENV_FILE }}" >> packages/env/.env
          echo WEB_URL=${{ env.WEB_URL }} >> packages/env/.env
          echo NODE_ENV=production >> packages/env/.env

      - name: Build
        run: pnpm run build:extension

      - name: Zip the build files
        run: pnpm run zip

      - name: Upload Extension
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: dist-zip/extension.zip

  upload-extension:
    needs: build-extension
    runs-on: ubuntu-latest
    name: Upload chrome store when push on master branch
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master'}}
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Upload zipped file on chrome store
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: extension/extension.zip
          extension-id: eaiojpmgklfngpjddhoalgcpkepgkclh
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          publish: false
